.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .example-card {
    background: #CEE7FF;
    width: 500px;
    text-align: center;
  }

  .margin {
    width: 300px;
    margin-left: 100px;
  }

  body {
    background: url(../images/redes.jpg);
}