/HelpDesk-Support/HelpDesk-SupportAPI/bin/*
/HelpDesk-Support/HelpDesk-SupportAPI/obj/*
/HelpDesk-Support/.vs/*
/HelpDesk-Support/HelpDesk-SupportMVC/bin/*
/HelpDesk-Support/HelpDesk-SupportMVC/obj/*
/HelpDesk-Support/HelpDesk-SupportMVC/obj/Debug/netcoreapp3.1/HelpDesk-SupportMVC.csprojAssemblyReference.cache

#Angular
/client-frontend/dist
/client-frontend/tmp
/client-frontend/out-tsc
/client-frontend/bazel-out
/client-frontend/node_modules
/client-frontend/chrome-profiler-events*.json
/client-frontend/speed-measure-plugin*.json
/client-frontend/.idea
/client-frontend/.project
/client-frontend/.classpath
/client-frontend/.c9/
/client-frontend/*.launch
/client-frontend/.settings/
/client-frontend/*.sublime-workspace
/client-frontend/.vscode/*
/client-frontend/!.vscode/settings.json
/client-frontend/!.vscode/tasks.json
/client-frontend/!.vscode/launch.json
/client-frontend/!.vscode/extensions.json
/client-frontend/.history/*
/client-frontend/.sass-cache
/client-frontend/connect.lock
/client-frontend/coverage
/libpeerconnection.log
/client-frontend/npm-debug.log
/client-frontend/yarn-error.log
/client-frontend/testem.log
/client-frontend/typings
/client-frontend/.DS_Store
/client-frontend/Thumbs.db

#Spring
/client-backend/mvnw
/client-backend/mvnw.cmd
/client-backend/.mvn/
/client-backend/HELP.md
/client-backend/target/
/client-backend/!.mvn/wrapper/maven-wrapper.jar
/client-backend/!**/src/main/**/target/
/client-backend/!**/src/test/**/target/
/client-backend/.apt_generated
/client-backend/.classpath
/client-backend/.factorypath
/client-backend/.project
/client-backend/.settings
/client-backend/.springBeans
/client-backend/.sts4-cache
/client-backend/.idea
/client-backend/*.iws
/client-backend/*.iml
/client-backend/*.ipr
/client-backend/nbproject/private/
/client-backend/nbbuild/
/client-backend/dist/
/client-backend/nbdist/
/client-backend/.nb-gradle/
/client-backend/build/
/client-backend/!**/src/main/**/build/
/client-backend/!**/src/test/**/build/
/client-backend/.vscode/
/Documentos/Domain/.client-domain.vpp.lck
/Documentos/Domain/*.vpp.*
