/HelpDesk-Support/HelpDesk-SupportAPI/bin/*
/HelpDesk-Support/HelpDesk-SupportAPI/obj/*
/HelpDesk-Support/.vs/*
/HelpDesk-Support/HelpDesk-SupportMVC/bin/*
/HelpDesk-Support/HelpDesk-SupportMVC/obj/*
/HelpDesk-Support/HelpDesk-SupportMVC/obj/Debug/netcoreapp3.1/HelpDesk-SupportMVC.csprojAssemblyReference.cache

#Spring
/client-backend/mvnw
/client-backend/mvnw.cmd
/client-backend/.mvn/
/client-backend/HELP.md
/client-backend/target/
/client-backend/!.mvn/wrapper/maven-wrapper.jar
/client-backend/!**/src/main/**/target/
/client-backend/!**/src/test/**/target/
/client-backend/.apt_generated
/client-backend/.classpath
/client-backend/.factorypath
/client-backend/.project
/client-backend/.settings
/client-backend/.springBeans
/client-backend/.sts4-cache
/client-backend/.idea
/client-backend/*.iws
/client-backend/*.iml
/client-backend/*.ipr
/client-backend/nbproject/private/
/client-backend/nbbuild/
/client-backend/dist/
/client-backend/nbdist/
/client-backend/.nb-gradle/
/client-backend/build/
/client-backend/!**/src/main/**/build/
/client-backend/!**/src/test/**/build/
/client-backend/.vscode/
/Documentos/Domain/.client-domain.vpp.lck
/Documentos/Domain/*.vpp.*
/client-frontend/node_modules/*
